.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 32px;
}
.app .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.app .content .counter {
  display: flex;
  font-size: 24px;
  justify-content: center;
  margin-bottom: 24px;
}
.app .content .counter .incrementButton {
  font-size: 24px;
  cursor: pointer;
}
.app .content .form {
  display: flex;
  flex-direction: column;
}
.app .content .form .label {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
.app .content .form .input {
  font-size: 16px;
  margin-bottom: 8px;
  padding: 8px;
}
.app .content .form .submitButton {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  padding: 4px;
}